.list-menu{
  list-style: none;
}
.item-menu{
  display: inline-block;
}
.option{
  font-size: 1rem;
  color: gray;
  font-family: 'openB';
  padding: 6px;
  text-decoration: none;
  border-radius: 8px;
}
.option:hover{
  background-color: var(--colorBackground);
  color: var(--colorTextBtnPrimary);

}
.checkbtn{
  cursor: pointer;
  display: none;
}
#check{
  display:none;
}
@media (max-width: 600px){
  .checkbtn{
    display: block;
  }
  .list-menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--colorBackgroundMenu);
    top: 4rem;
    left: -120%;
    text-align: left;
    transition: all .4s;
    z-index: 1;
  }
  .item-menu{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .option{
    font-size: 25px;
  }
  .option:hover{
    background: none;
  }
  #check:checked ~ .list-menu{
    left: 0;
  }
}