.copy{
  background-color:white;
  display: flex;
  padding: 30px;
  margin-bottom: 1.3rem;
  border-radius: 8px;
}
.copy h2{
  font-family: 'openB';
  font-weight: bold;
}
.copy-text{
  text-align: left;
  flex-grow: 2;
  flex-basis: 50%;
}
.copy-text p{
  font-family: 'openL';
}
.copy-btn{
  text-align: left;
  flex-grow: 1
}
.btn{
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-family: 'openB';
  font-size: 1.3rem;
  width: 200px;
  display: flex;
  border-radius: 8px;
}
.btn-primario{
  background-color: #1591c4;
 
  
  margin-bottom: 10px;
  color: white;
 

}
.btn img{
  margin: auto;
  margin-left: 1.3rem;
}
.btn-primario:hover{
  background-color: #207caa;
 
}
.btn-secundario{
  background-color: #f2f2f2;
  color: #444444;
}
.btn-secundario:hover{
  background-color: #dfdbdb;
}
@media (max-width: 600px){
  .copy{
    flex-direction: column;
  }
}