@font-face{
  font-family: 'oleo';
  src: url('./fonts/OleoScript-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  /* background-color: #61dafb; */
}
body{

  background-image: url('./images/pic02.jpg');
}
/* h1{
  font-family: 'oleo';
  color: tomato;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


