@font-face{
  font-family: 'oleo';
  src: url('./fonts/OleoScript-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'openB';
  src: url('./fonts/static/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'openL';
  src: url('./fonts/static/OpenSans/OpenSans-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
:root{
  --colorBackground: #444;
  --colorBackgroundMenu: white;
  --colorText: #444;
  --colorBtnPrimary: #1596c4;
  --colorBtnPrimaryHover:#207caa;
  --colorBtnSecondary:#f2f2f2;
  --colorBtnSecondaryHover: #dfdbdb;
  --colorTextBtnPrimary: white;
  --totalWidth: 70%;
  --widthResponse: 95%;
  --colorLogo: tomato;
}
.App {
  color: var(--colorText);
  text-align: center;
  /* width: 80%; */
  margin: 0 auto;

}

.content-1, .content-3{
  /* background-image: url('./images/bg01.png'); */
  background-color: rgba(200, 200, 200, 0.3);
  padding-bottom: 30px;
}
.content-2{
  padding-bottom:1rem;
}
.content-1-1{
  width: var(--totalWidth);
  margin: 0 auto;

}
.content-1-2{
  width: var(--totalWidth);
  margin: 0 auto;
  display: flex;
  text-align: left;
  justify-content: space-between;
}
.content-2-1{
  width: var(--totalWidth);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
.content-3-1{
  width: var(--totalWidth);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

 .App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  
} 
footer{
  font-family: 'openl';
  font-size: 0.6rem;
}
@media (max-width: 600px){
  .content-1-1{
    width: var(--widthResponse);
  }
  .content-1-2{
    flex-direction: column;
    width: var(--widthResponse);
  }
  .tarjeta{
    margin-bottom: 200px;
    max-width: 100%;
  }
  .content-2-1{
    width: var(--widthResponse);
    grid-template-columns: 1fr;
    grid-gap:3rem;
  }
  .content-3-1{
    flex-wrap: wrap;
    width: var(--widthResponse);
  }
}