@font-face{
  font-family: 'oleo';
  src: url('./fonts/OleoScript-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'openB';
  src: url('./fonts/static/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'openL';
  src: url('./fonts/static/OpenSans/OpenSans-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
.App {
  text-align: center;
  /* width: 80%; */
  margin: 0 auto;

}

.content-1, .content-3{
  /* background-image: url('./images/bg01.png'); */
  background-color: rgba(200, 200, 200, 0.3);
  padding-bottom: 30px;
}
.content-1-1{
  width: 80%;
  margin: 0 auto;

}
.content-1-2{
  width: 80%;
  margin: 0 auto;
  display: flex;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


 .App-header {


  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
} 


@media (max-width: 600px){
  .content-1-2{
    flex-direction: column;
  }
  .tarjeta{
    margin-bottom: 200px;
    max-width: 100%;
  }
}