.texto{
  text-align: left;
  font-family: 'openL';
}
.texto h2{
  font-family: 'openB';
}
.btn-texto{
  margin-top: 20px;
  width: 13rem;
  border: none;
  font-family: 'openB';
  display: flex;
  padding: 6px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  color: var(--colorTextBtnPrimary);
  background-color: var(--colorBtnPrimary);
  cursor: pointer;
}
.btn-texto:hover{
  background-color: var(--colorBtnPrimaryHover);
}